.table-head-selector{
    margin-top: 100px;
    margin-left: 30px;
    margin-right: auto;
}
.selector1{
    width: 120px;
    height: 60px;
}
.selector2{
    width: 60px;
    height: 40px;
}

td.VF{
    background-color: rgb(40, 202, 40);
}

td.VOA{
    background-color: blue;
}

td.ETA{
    background-color: yellow;
}

td.VR{
    background-color: red;
}

td.number{
    background-color: green;
}