h1 {
  padding-top: 10px;
  height: 30px;
  padding-left: 20px;
  color: #f56565;
}

.modalContent {
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%);
}

.modalBackground {
  z-index: -2;
  position: fixed;
  right: 0px;
  bottom: 0px;
  top: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.85);
  -webkit-tap-highlight-color: transparent;
}

.image {
  width: 100%;
  max-width: 140px;
  height: 200px;
}

.prevBtn {
  position: absolute;
  top: 50%;
  color: white;
}

.nextBtn {
  position: absolute;
  top: 50%;
  right: 0%;
  color: white;
}
