.table-head-selector{
    margin-top: 100px;
    margin-left: 30px;
    margin-right: auto;
}
.selector1{
    width: 120px;
    height: 60px;
}
.selector2{
    width: 60px;
    height: 40px;
}

.code{
    vertical-align: middle;
    text-align: center;
}

td.VF{
    background-color: rgb(32, 218, 32);
}


td.VOA{
    background-color: rgb(78, 118, 212);
}

td.ETA{
    background-color: rgb(236, 236, 103);
}

td.VR{
    background-color: rgb(190, 45, 45);
}

td.number{
    background-color: rgb(59, 228, 59);
}

div.headerBox{
    display: flex;
    flex-direction: row;
    justify-content: left;
}



.headerBox > div:first-child{
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 100px;
}


.headerBox > div{
    flex-grow: 0;
    flex-shrink: 0;
    height: 125px;
}

div.countryName{
    vertical-align: middle;
    text-align: left;
    font-weight: bold;
    font-size: 35px;
    padding-top:25px;
}

div.mobilityScore{
    font-style: italic;
    vertical-align: bottom;
    text-align: left;
    padding-top:15px;
    font-size: 20px;
}


.mytooltip .tooltip-inner {
    max-width: 400px;
}